<script type='text/javascript' src='https://tableau.cuc.edu.cn/javascripts/api/viz_v1.js'></script>
<div class='tableauPlaceholder' style='width: 1861px; height: 894px;'>
    <object class='tableauViz' width='1861'
        height='894' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Ftableau.cuc.edu.cn%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='5&#47;2' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' />
        <param name="filter" value="Date=2021-11-11">
    </object>
</div>